<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>Teste SPI</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/functions.js"></script>

</head>
<style>
    body {
        font-family: "Helvetica Neue", Helvetica;
        background-color: #F1F1F1;
        padding: 0;
        margin: 0;
    }

    header {
        height: 46px;
        max-width: 100%;
        font-size: 22px;
        background-color: #C0E9E3;
        text-align: center;
        text-justify: center;
        margin-right: 0;
        right: 0;
        top: 0;
        left: 0;
        z-index: 1;
        margin: 0;
    }

    footer {
        padding: 1rem;
        font-size: 22px;
        width: 100%;
        height: 7%;
        background-color: #C0E9E3;
        text-align: right;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
    }

    #page-content-wrapper {
        padding: 300px;
    }

    select {
        height: 34px;
        width: 100%;
    }

    select select {
        border: 1px solid #ccc;
        font-size: 16px;
        height: 34px;
        width: 268px;
    }

    #create {
        width: 100%;
    }

    #navopen {
        border: none;
        color: #000000;
        background-color: #C0E9E3;
        height: 46px;
    }

    #navclose {
        border: none;
        color: #000000;
        background-color: #FAFAFA;
    }

    button {
        border: none;
        color: #F1F1F1;
        background-color: #000000;
        padding: 10px 20px 10px 20px;
    }

    button:hover {
        border: none;
        color: #000000;
        background-color: #dbdbdb;
        text-decoration: none;
    }

    #sidebar-wrapper {
        background-color: #FAFAFA;
        padding: 1em;
        position: fixed;
        height: 90%;
        width: 230px;
    }

    .picker {
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        height: 100%;
    }

    article {
        margin-left: 230px;
        padding: 1em;
    }

    #showsize {
        background-color: #F1F1F1;
        border: #F1F1F1;
    }

    #display {
        width: 100%;
        height: 10%;
        background: #B3DEF3;
        transition: background 100ms;
        margin-top: 30px;
        border: 1px solid #000;
    }

    #displayfont {
        width: 100%;
        height: 10%;
        background: #BF7ED3;
        transition: background 100ms;
        margin-top: 30px;
        border: 1px solid #000;
    }


    input {
        display: block;
        width: 100%;
    }

    @media screen and (max-width: 490px) {
        #navclose,
        #navopen {
            display: inline;
        }
        #sidebar-wrapper {
            display: none;
        }
        header {
            width: 100%;
        }
    }

    @media screen and (min-width: 500px) {
        #navclose,
        #navopen {
            display: none;
        }
    }
</style>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<body>

    <body>

        <div class="container-full">
            <div id="wrapper">
                <header>
                    <button id="navopen" onclick="navOpen()"><i class="fa fa-bars"></i></button> Create and drag Texts
                </header>
                <div id="sidebar-wrapper">
                    <div class="picker">
                        <button id="navclose" onclick="navClose()"><i class="fa fa-close"></i></button>
                        <p>Pick a background color:</p>
                        Red: <input type="range" min="0" max="255" step="1" id="red" value="179"> Green: <input type="range"
                            min="0" max="255" step="1" id="green" value="222"> Blue: <input type="range" min="0" max="255" step="1"
                            id="blue" value="243">
                        <div id="display"></div>


                        <p>Pick a font size:</p>
                        <select id="fontsize">
                                        <option value="8">8</option>
                                        <option value="10">10</option>
                                        <option value="12">12</option>
                                        <option value="14">14</option>
                                        <option value="16">16</option>
                                        <option value="18">18</option>
                                        <option value="20">20</option>
                                        <option value="22">22</option>
                                        <option value="24">24</option>
                                        <option value="26">26</option>
                                        <option value="28">28</option>
                                        <option value="36">36</option>
                                        <option value="48">48</option>
                                        <option value="72">72</option>
                                </select>

                        <p>Pick a box size:</p>
                        <select id="boxsize">
                                    <option value="80">80</option>
                                    <option value="100">100</option>
                                    <option value="120">120</option>
                                    <option value="140">140</option>
                                    <option value="160">160</option>
                                    <option value="180">180</option>
                                    <option value="200">200</option>
                                    <option value="220">220</option>
                                    <option value="240">240</option>
                                    <option value="260">260</option>
                                    <option value="280">280</option>
                                    <option value="360">360</option>
                                    <option value="480">480</option>
                                    <option value="720">720</option>
                            </select>

                        <p>Pick a font color:</p>
                        Red: <input type="range" min="0" max="255" step="1" id="red2" value="191"> Green: <input type="range"
                            min="0" max="255" step="1" id="green2" value="126"> Blue: <input type="range" min="0" max="255" step="1"
                            id="blue2" value="211">
                        <div id="displayfont"></div>

                        <p>Input your text:</p>
                        <input type="text" id="textinput" maxlength="10" />

                        <div>
                            <button onclick="createTextBox()" id="create">Create Text</button>
                        </div>

                    </div>
                </div>
                <!-- sidebar-wrapper -->

                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">

                                <div id="texts"></div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper -->
            </div>
            <!-- wrapper -->
        </div>
        <!-- container-full -->
        <footer class="footer">
            <div class="container">
                <button id="submit" onclick="toJSON()">To JSON</button>
                <button id="newpag" onclick="location.href='new.html'">Send</button>
            </div>
        </footer>

        <script type="text/javascript">
            var input = document.querySelectorAll("input");
            for (var i = 0; i < input.length; i++) {
                input[i].addEventListener("input", function () {
                    var red = document.getElementById("red").value,
                        green = document.getElementById("green").value,
                        blue = document.getElementById("blue").value;
                    var display = document.getElementById("display");
                    display.style.background = "rgb(" + red + ", " + green + ", " + blue + ")";
                });
            }
            for (var i = 0; i < input.length; i++) {
                input[i].addEventListener("input", function () {
                    var red = document.getElementById("red2").value,
                        green = document.getElementById("green2").value,
                        blue = document.getElementById("blue2").value;
                    var displayfont = document.getElementById("displayfont");
                    displayfont.style.background = "rgb(" + red + ", " + green + ", " + blue + ")";
                });
            }

            $(function () {
                $("#txt").draggable();
            });

        </script>

    </body>

</html>